/*font link*/
@font-face
{
    font-family: 'Raleway';
    src: url('fonts/raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

/*general common elements styling*/

/* -- delete mainwr background color border after final styling*/
#main_wrapper {
    border: solid black;
    max-width: 1090px;
    height: auto;
    margin: auto;
}

body, button, input {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: #312d2d;
    margin: 0px;
    padding: 0px;
}

.common_margin{
    margin: 5px 25px 5px 25px;
    width: 95%;
}


h1{
    font-size: 1em;
}

h2{
    font-size: 1em;
}

h3{
    font-size: 0.8em;
}
p, li{
    font-size: 0.7em;
}

a{
    font-family: raleway, Arial, Helvetica, sans-serif;
    color: #312d2d;
    text-decoration: none;

}

a :visited{
    color: blueviolet;
}

a:hover {
     color: #0065FC;
 }
.color_blue{
    color:#0065FC;
}
.color_grey{
    color: #F2F2F2;
}


/*Header zone*/
header{
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
}

header img
{
    width: 85px;
}


nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 3;
}

nav a {
    font-size: 0.8em;
    margin-left: 50px;
    padding: 20px 20px 0px 20px;
    
}

#sign_up{
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 50px;
    padding-top: 20px;
    text-align: end;
    order: 3;
}

nav a:active{
    border-top: solid #0065FC;
    color: #0065FC;
}

/*search zone*/
#search_area{
    display: flex;
    flex-direction: column;
    padding: 0;
}

#search_area h1, #search_area p {
    padding: 2px;
    margin: 0px;
}


form{
    padding: 10px 0 10px 0px;
    margin-bottom: 10px;
    display: flex;
    
}
form input {
    font-size: 0.7em;
    font-weight: bold;
    padding: 6px 20px 6px 6px;
    border: 1px solid #F2F2F2 ;

}

.gps_icon{
    background-color: #F2F2F2;
    padding: 10px 12px 0px 12px;
    height: auto;
    border-radius: 10px 0 0 10px;
    font-size: small;
}


#srch_w{
    font-size: 0.7em;
    font-weight: bold;
    color:white;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    border: 1px solid #0065FC;
}

/*search icone to display only in mobile version*/
#srch_i {
    display: none;

}

#search_filters{
    display: flex;
}

#filters_container {
    padding:5px 0px 5px 0px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
}

#filters_container button{
    font-size: 0.8em;
    font-weight: bold;
    background-color:white;
    margin-top: 5px;
    margin-right: 5px;
    padding-right: 15px;
    border-radius: 20px;
    height: 30px;
    border: 1px solid #F2F2F2;
}

#filters_container button:hover{
    color: #0065FC;
    background-color: #F2F2F2;
}

#filters_container i{
    background-color: #DEEBFF;
    margin-right: 10px;
    border-radius: 20px;
    border: 2px solid  #DEEBFF;
    padding: 6px 8px 6px 8px;
    font-size: small;
}


#info_block {
    display: flex;
    justify-content: flex-start;
    margin-top: 8px;
    margin-bottom: 8px;
}
.info_icon {
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    padding: 2.5px 5px 2.5px 5px;
    margin-right: 5px;
    text-align: center;
    font-size: xx-small;

}


/*main content*/
#lodging_display{
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#lodging_main{
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 5px 0px 5px 15px;
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 63%;
    
}

#lodgings_container{    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    justify-self: center;   
}

.lodging_bubble{
    background-color: white;
    box-shadow: 5px 5px 5px rgb(185, 183, 183);
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 15px;
    padding: 5px;
    width: 185px;
    height: 145px;
}

.lodging_bubble img{
    width: 100%;
    max-height: 88px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.lodg_text h3, .lodg_text p{
    margin: 4px 2px 0px 8px;
}

.lodg_text i{
    font-size: xx-small;
}

aside{
    background-color: #F2F2F2;
    border-radius: 20px;
    flex: 0 0 30%;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    flex-direction: column;
       
}
#pop_header{
    margin: 5px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

#pop_header i {
    font-size: medium;
}

#pop_main{
    padding: 0px 5px 0px 5px;
    margin-top: 0px;
    flex: 0 0 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.pop_bubble{
    background-color: white;
    margin-bottom: 15px;
    margin-left: 0px;
    box-shadow: 5px 5px 5px rgb(185, 183, 183);
    padding: 4px;
    border-radius: 15px;
    width: 270px;
    height: 98px;
    display: flex;
    flex-wrap: nowrap;
}

.pop_bubble img{
    width: 90px;
    height: 100%;
    border-radius: 10px  0px 0px 10px;
    object-fit: cover;
}

.pop_text {
    width: 135px;
    height: 100%;
    display: inline-block;
    vertical-align: top;

}

.pop_text h3 {
    margin: 5px 0px 5px 5px;
}

.pop_text p:first-of-type{
    margin: 0px 0px 0px 5px;
    font-size: 0.7em;
}

.pop_text p:last-of-type {
    margin: 30px 0px 0px 5px;
    font-size: xx-small;
}


/*activities zone*/
#activities_section h3{
    margin: 5px 0px 10px 12px;
}

#act_container{
    height: 340px;
    display: flex;
    justify-content: space-between;
    
}

.grp_act_bubbles {
    width: 49%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: space-between;
}
.vb_act_bubble{
    width: 230px;
    height: 330px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(185, 183, 183);
}

.vb_act_bubble img{
    width: 100%;
    height: 90%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}


.b_act_bubble{
    width: 230px;
    height: 175px;
    border-radius: 20px;
    margin-right: 12px;
    box-shadow: 5px 5px 5px rgb(185, 183, 183);
   
}

.b_act_bubble img{
    width: 100%;
    height: 80%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.m_act_bubble{
    width: 230px;
    height: 160px;
    border-radius: 20px;
    margin-top: 37px;
    margin-right: 3px;
    box-shadow: 5px 5px 5px rgb(185, 183, 183);
}

.m_act_bubble img{
    width: 100%;
    height: 80%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
   
}

.s_act_bubble{
    width: 230px;
    height: 135px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(185, 183, 183);

}

.s_act_bubble img{
    width: 100%;
    height: 70%;
    margin-right: 3px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.vs_act_bubble{
    width: 230px;
    height: 120px;
    border-radius: 20px;
    margin-top: 35px;
    box-shadow: 5px 5px 5px rgb(185, 183, 183);
}

.vs_act_bubble img{
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

/*footer zone*/
footer{
    background-color: #F2F2F2;
    padding-bottom: 25px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
}

footer div{
    margin-left: 25px;
    flex-grow: 1;    
}

footer div:last-of-type {
    flex-grow: 2;  
}

footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

footer li{
    margin-top: 5px;
}


/*media queries for medium screens*/
@media screen and (min-width:533px) and (max-width: 956px) {

/*common styling elements*/
 #main_wrapper {
    width: auto;
    overflow: hidden;
}

/*Search zone*/

#search_filters {
    width: 100%;
}
#filters_container {
   flex-grow: 2;
   flex-wrap: wrap;
}



/*Main content zone*/
#lodging_display{
    height: auto;
    flex-flow: column-reverse nowrap;
    justify-content: space-between;
}

aside {
    margin-bottom: 20px;
    padding: 0px;
    align-self: center;
    width: 95%;
}

#pop_main{
    width: 95%;
    padding: 0px;
    align-self: center;
    flex-flow: row wrap;
    justify-content: space-around; 
}
.pop_bubble{
    width: auto;
}
.pop_bubble img{
    width: 80px;
}
.pop_text {
    width: 120px;
}

#lodging_main {
    width: 95%;
    padding-right: 0px;
    align-self: center;
    
}
#lodgings_container {
    width: 90%;
    margin: 0px;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-self: center;
}



/*Activities zone*/
#act_container {
    height: auto;
    flex-flow: column nowrap;
} 

.grp_act_bubbles{
    width: 95%;
    height: auto;
    align-self: center;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.uni_act_b_size {
    width: 210px;
    height: 150px;
    margin: 0px 15px 15px 0px;
}

.uni_act_b_size img{
    height: 70%;
}

}


/*media queries for small screens*/

@media screen and (max-width: 533px) {

    /*common styling elements*/
    #main_wrapper {
        width: auto;
        overflow: hidden;
    }
    .common_margin{
        margin: 8px 12px 8px 12px;
    }
    h1{
        font-size: 1.2em;
    }
    
    h2{
        font-size: 1.1em;
    }
    
    h3, #sign_up {
        font-size: 0.9em;
    }
    p, li {
        font-size: 0.8em;
    }


    /*header zone*/
    header{
        display: flex;
        flex-wrap: wrap;
    }
    
    nav {
        order: 3;
        flex: 0 0 100%;
        display: flex;
        justify-content: stretch;
        
    }

    nav a{
        font-size: 0.9em;
        margin: 0px;
        text-align: center;
        padding-bottom: 10px;
        flex-grow: 1;
        border-bottom: solid 2px #F2F2F2;
    }

    nav a:active{
        border-top: none;
        border-bottom: solid #0065FC;
        color: #0065FC;
    }

    /*search zone*/
    
    #search_area {
        padding: 10px;
    }

    form{
        margin-top: 10px;
        margin-bottom: 0px;         
    }

    form input {
        font-size: 0.9em;
        padding: 10px 25px 10px 6px;
        margin-right: -8px;
    }
    
    .gps_icon{
        padding-top: 12px;
    }
    
    #srch_w {
        display: none;
    }
    #srch_i {
        display: block;
        color:white;
        background-color: #0065FC;
        border-radius: 10px;
        padding: 0px 12px 0px 12px ;
        height: auto;
        margin-left: 0px;
        border: 1px solid #0065FC;
    }
   
    #search_filters {
       flex-flow: column nowrap;

    }
    #filters_container {
        margin-left: 0px;
        justify-content: flex-start;
        flex-wrap: wrap;     
        
    }
    
   #filters_container button{
        font-weight: bold;
        height: 35px;
        margin-bottom: 12px;
    }
    
    #filters_container i{
        font-size: medium;
    }
    

    .info_icon {
        margin: 3px 5px 12px 0px;
        padding: 2.5px 6px 2.5px 6px;
    }

    
    
    /*lodgings zone*/
    #lodging_display{
        margin-left: 0px;
        margin-right: 0px;
        flex-flow: column-reverse;
        height: auto;
    }

    aside{
        width: auto;
        border-radius: 0px ;
        margin-bottom: 12px;
        
    }

    #pop_main {
        width: auto;
        padding: 10px;
        justify-content: space-evenly;
        align-items: center;
    }

    .pop_bubble {
        width: 80%;
    }

    .pop_bubble img{
        width: 30%;
    }

    .pop_text {
        width: 65%;
    }
    
    .pop_text p:last-of-type {
        margin-top: 25px;
    }

    #lodging_main {
        width: auto;
        background-color: rgba(255, 255, 255, 0.945);
        border-radius: 0px;
    }

    #lodgings_container{   
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;

    }

    .lodging_bubble{
        margin-right: 5px;
        padding-bottom: 10px;
        width: 80%;
    }       

    /*activities zone*/
    #activities_section {
        padding: 0px;
    }
    #act_container {
        height: auto;
        flex-flow: column nowrap;
    } 
    
    .grp_act_bubbles{
        width: auto;
        height: auto;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .uni_act_b_size {
        width: 80%;
        height: 165px;
        margin-top: 15px;
        margin-right: 0px;
    }

    .uni_act_b_size img{
        height: 70%;
    }

    /*footer zone*/
    footer {
        flex-direction: column;
        height: auto;
    }

    footer div{
        margin-left: 10px;
        margin-right: 10px;
    } 
}