@font-face
{
    font-family: 'Raleway';
    src: url('fonts/raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*general body styling*/
body, a{
    font-family: raleway, Arial, Helvetica, sans-serif;
    color: #312d2d;
    margin: 0px;
    padding: 0px;
}

/* main wr delete background color border after final styling*/
#main_wrapper {
    background-color: burlywood;
    border: solid black;
    width: auto;
    margin: auto;
}

/*add general styling for common elements here before header (classes)*/
/*temporary display and dimensions for all imgs-->*/
img{
    width: 60px;
    height: 40px ;
}
/*temporary colors for text and icons*/
.color_blue{
    color: blue;
}
.color_grey{
    color: grey;
}

/*Header zone delete background color border after final styling*/
header{
    border: solid black;
    margin: 5px 25px 5px 25px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

header img
{
    width: 75px;
    padding: 0px;

}

#nav_n_sign{
    display: flex;
    flex-direction: row-reverse;
}

nav ul{
    list-style-type: none;
    display: flex;
    padding:0px;
}

nav li {
    margin-right: 50px;
}

#sign_up{
    margin-left: 20px;
    padding: 0 5px 0 10px ;
}
/*delete border or all following rule when done*/

#logo, #main_nav, #sign_up{
    border: solid blue 2px;
}

/*search zone*/
#search_area{
    background-color: coral;
    border: solid black;
    display: flex;
    flex-direction: column;
    margin: 5px 25px 5px 25px;
    padding: 0;
}

#search_header h1, #search_header p{
    border: solid blue 2px;
    padding: 2px;
    margin: 0px;
}

#search_form{
    border: solid blue 2px;
}

#search_filters{
    border: solid blue 2px;
}
#number_results{
    border: solid blue 2px;
}

/*main content*/
#lodging_display{
    background-color: cadetblue;
    border: solid black;
    margin: 5px 25px 5px 25px;
}

#lodging_main{
    border: solid red 2px;
}

#lodgings_container{
    border: solid red 2px;
}

.lodging_bubble{
    border: solid red 2px;
}

#more_results{
    border: solid red 2px;
}

aside{
    border: solid tomato 2px;
}
#pop_header{
    border: solid blue 2px;
}
#pop_main{
    border: solid blue 2px;
}
.pop_bubble{
    border: solid blue 2px;
}

/*activities zone*/
#activies_section{
    background-color: coral;
    border: solid black;
    margin: 5px 25px 5px 25px;
}

#activies_section h1{
    border: solid blue 2px;
}
#act_container{
    border: solid blue 2px;
}

.act_bubble{
    border: solid blue 2px;
}

/*footer zone*/
footer{
    background-color: cadetblue;
    border: solid black;
}

#about_container{
    border: solid blueviolet 2px;
}

#firm_container{
    border: solid blueviolet 2px;
}

#help_container{
    border: solid blueviolet 2px;
}



/*media queries criterias*/
/* 
@media screen and (max-width: 600px)
{
    #nav_n_sign{
        display: flex;
        flex-direction: column;
    }
}
*/