/*font link*/
@font-face
{
    font-family: 'Raleway';
    src: url('fonts/raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

/*general body styling*/

/* -- delete mainwr background color border after final styling*/
#main_wrapper {
    background-color: white;
    border: solid black;
    width: auto;
    margin: auto;
}

body, button, input {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: #312d2d;
    margin: 0px;
    padding: 0px;
}


/*general styling for common elements*/
/*--temporary display and dimensions for all imgs*/


h1{
    font-size: 1.2em;
}

h2{
    font-size: 1.2em;
}

h3{
    font-size: 0.9em;
}
p{
    font-size: 0.9em;
}

a{
    font-family: raleway, Arial, Helvetica, sans-serif;
    color: #312d2d;
    text-decoration: none;
}

.color_blue{
    color:#0065FC;
}
.color_grey{
    color: #F2F2F2;
}


/*Header zone -- delete background color border after final styling*/
header{
    border: solid black;
    margin: 5px 25px 5px 25px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

header img
{
    width: 85px;
}

nav ul{
    list-style-type: none;
    display: flex;
    padding:0px;
}

nav li {
    margin-right: 50px;
    font-size: 0.8em;
}

#sign_up{
    margin-left: 20px;
    padding: 0 5px 0 10px ;
    order: 3;
}
/*-- delete this border rule when done*/

#logo, #main_nav, #sign_up{
    border: solid blue 2px;
}

/*search zone*/
#search_area{
    background-color: coral;
    border: solid black;
    display: flex;
    flex-direction: column;
    margin: 5px 25px 5px 25px;
    padding: 0;
}

#search_header h1, #search_header p{
    border: solid blue 2px;
    padding: 2px;
    margin: 0px;
}

#search_form{
    border: solid blue 2px;
    display: flex;
    padding: 10px 0 10px 0;
}
form{
    border: solid black;
    display: flex;
    height: 35px;
}
form input, form button{
    font-size: 0.8em;
    font-weight: bold;
    padding: 6px;
    border: #F2F2F2 ;
}

#gps_icon{
    background-color: #F2F2F2;
    padding: 6px 8px 0px 8px;
    height: auto;
    border-radius: 5px 0 0 5px;
    font-size: medium;
}

form input{
    border: 1.5px solid #F2F2F2;
    padding-right: 1px;
}

form button{
    color:white;
    background-color: #0065FC;
    border-radius: 0 5px 5px 0;
}
#search_filters{
    border: solid blue 2px;
    display: flex;
}

#search_filters h3 {
    margin-right: 15px;
}

#filters_container {
    border: solid black;
    width: 650px;
    padding:5px 0px 5px 0px;
    display: flex;
    justify-content: space-evenly;
}

#filters_container button{
    font-weight: bold;
    background-color:white;
    margin-left: 0px;
    padding-right: 15px;
    border-radius: 20px;
    border: 1.5px solid #F2F2F2;
}
/*-- if necessary review icones' styling some are bigger than others*/
#filters_container i{
    background-color: #DEEBFF;
    margin-right: 10px;
    border-radius: 20px;
    border: 2px solid  #DEEBFF;
    padding: 6px 8px 6px 8px;
    font-size: small;

}

#number_results{
    border: solid blue 2px;
    font-size: 0.8em ;
}

#number_results i{
    position: relative;
    font-size: 0.7em;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    padding: 2.5px 5px 2.5px 5px;
    bottom: 1px;
    margin-right: 5px;
    text-align: center;

}

/*main content*/
#lodging_display{
    background-color: #5f9ea0;
    border: solid black;
    margin: 5px 25px 5px 25px;
    display: flex;
}

#lodging_main{
    border-radius: 20px;
    background-color: #F2F2F2;
    width: 65%;
    padding: 5px 5px 0px 5px;
    margin-right: 15px;
    
}

#lodgings_container{
    list-style-type: none;
    border: solid black 2px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 0px 15px 0px 5px;
    margin: auto;
       
}

.lodging_bubble{
    background-color: white;
    margin-bottom: 12px;
    margin-left: 5px;
    border: solid white;
    border-radius: 15px;
    padding: 2px;
    width: 190px;
    height: 160px;
}

.lodging_bubble img{
    width: 100%;
    max-height: 95px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.lodg_text h3, .lodg_text p{
    margin: 4px 2px 0px 8px;
}

.lodg_text i{
    font-size: x-small;
}

#more_results{
    border: solid red 2px;
}

aside{
    border-radius: 20px;
    background-color: #F2F2F2;
    width: 35%;
    padding:0px;
    display: flex;
    flex-direction: column;
    /*padding; ;
    margin: ;*/
    
}
#pop_header{
    display: flex;
    justify-content: space-between;
}

#pop_header h3{
    margin-left: 10px;
}
#pop_main{
    border: solid blue 2px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    margin-top: 0px;
}
.pop_bubble{
    background-color: white;
    margin-bottom: 15px;
    margin-left: 0px;
    border: solid white;
    border-radius: 15px;
    width: 270px;
    height: 100px;
    display: flex;
}

.pop_bubble img{
    width: 100px;
    height: 100px;
    border-radius: 15px  0px 0px 10px;
    object-fit: cover;
    flex-grow: 1;
}

.pop_text {

    
}



/*activities zone*/
#activies_section{
    background-color: coral;
    border: solid black;
    margin: 5px 25px 5px 25px;
}

#activies_section h1{
    border: solid blue 2px;
}
#act_container{
    border: solid blue 2px;
}

.act_bubble{
    border: solid blue 2px;
}

.act_bubble img{
    width: 100%;
    max-height: 90px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

/*footer zone*/
footer{
    background-color: cadetblue;
    border: solid black;
}

#about_container{
    border: solid blueviolet 2px;
}

#firm_container{
    border: solid blueviolet 2px;
}

#help_container{
    border: solid blueviolet 2px;
}



/*media queries criterias*/

@media screen and (max-width: 750px) {
    header{
        display: flex;
        flex-wrap: wrap;
    }
    
    nav {
        order: 3;
        flex-basis: 100%;
    }

    #search_filters {
        flex-wrap: wrap;
    }
    #filters_container {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}